<!DOCTYPE>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body style="background-color: #f8f9fa">
<div class="wrapper" style="background-color: #f8f9fa">
  <div class="container" >
    <div class="col-left">
      <div class="login-text">
        <img src="../assets/images/omnishore.png" alt="logo">
        <p>Login to your account</p>
        <img class="img" src="../assets/images/nf.png" alt="icon">
      </div>
    </div>
    <div class="col-right">
      <div class="login-form">
        <h2 style="color: #212529">Login</h2>
        <span *ngIf="err==1" style="color: #dc3545">username | password incorrect  </span>
        <form>
          <p>
            <label>Username<span>*</span></label>
            <input type="text" placeholder="your username" [(ngModel)]="loginForm.username" name="username" required>
          </p>

          <p>
            <label>Password<span>*</span></label>
            <input type="password" placeholder="your password" [(ngModel)]="loginForm.password" name="password" required>
          </p>
          <p>
            <button type="button" (click)="userLogin()" >Sign In</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>




